body.about {
    background-color: #FCF9F3;
}

.skip-link {
    background: white;
    color: darkgreen;
    font-weight: normal;
    padding: 5px;
    position: absolute;
    left: 46%;
    font-size: 16px;
    font-size: 1rem;
    transform: translateY(-100%);
    transition: transform 0.3s;
  }
  
  .skip-link:focus {
    transform: translateY(0%);
  }

.marginCartModal {
    margin-top: 25px;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#aboutForm input {
    padding: 10px;
    background-color: #FCF9F3;
    border: 1px solid #E0E0E0;
    margin-top:6px;
    margin-bottom: 6px;
    width: 100%;
}

textarea {
    padding: 10px;
    background-color: #FCF9F3;
    border: 1px solid #E0E0E0;
    margin-top:6px;
    margin-bottom: 6px;
    width: 100%;
}


.aboutFormFields{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

#aboutForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    margin-top: 20px;
    margin-bottom: 40px;
}

.aboutContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 70vw;
    margin-bottom: 150px;
    align-items: flex-start;
    margin-top:250px;
   
}

.mapImageContainer{
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 100%;
}

iframe {
    width: 70vw;
}

#map {
    width:70vw;
    height: 600px;
}

.storeInfoContainer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.storeInfoLeftCol{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 60%;

}

.storeInfoLRightCol{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 30%;

}
footer {
    width: 100vw;
}


@media (max-width: 950px) {
    .aboutContainer {
        margin-top: 50px;
    }
    .about {
        margin-top: 50px;
    }

    .marginCartModal {
        margin-top: 70px;
    }
}

@media (max-width:720px) {
    .storeInfoContainer{
        flex-direction: column;
    }

    .storeInfoLRightCol {
        width:100%;
    }

    .storeInfoLeftCol {
        width:100%;
    }
    #aboutForm {
        width:100%;
    }

    .marginCartModal {
    margin-top: 70px;
}

.about {
    margin-top: 80px;
}
}

