button.hoverAddToCart {
    width: 300px;
    height: 50px;
    background-color: #FCF9F3;
    border: 1px solid rgba(34, 66, 41);
    border-radius: 50px;
    position:absolute;
    margin-top: 300px;
    margin-left: 10px;
    display:none;
}

.clearFilters {
    width: 183px;
    height: 50px;
    background-color: #FCF9F3;
    border: 1px solid rgba(34, 66, 41);
    border-radius: 50px;
    position:absolute;
    margin-left: 10px;
}

button.hoverAddToCart:hover {
    background-color: #faecd1;
}

.clearFilters:hover{
    background-color: #faecd1;
}

.standard {
width: 150px;
height: 50px;
border-radius: 35px;
border:none;
}

.long {
border-radius: 35px;
border:none;
width: 90%;
height: 50px;
}

.coral {
background-color: #FDB5B1;
}

.beige {
    background-color: #FCF9F3;
}

.green {
    background-color: rgba(34, 66, 41);
}

.green:hover {
    background-color: rgb(89, 143, 101);
}

.marginTop {
    margin:40px;
}

.heroMarginTop {
    margin-top:20px;
}

.marginBottom {
    margin-bottom: 50px;
}

.doubleMarginTop {
    margin-top:20px;
}

.tripleMarginTop{
    margin-top: 100px;
}

.noMarginLeftRight {
    margin-left: 0;
    margin-right: 0;
}

.coral:hover{
    background-color: #f8d1ce;
}
.beige:hover {
    background-color: #faecd0;
}